Repository pannkotsky/buyercrowd2: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format

local-biome-check:
  name: biome check
  entry: bash -c 'cd front && npm run lint'
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  require_serial: true
  language: unsupported

Configure nginx for dev and prod
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  .vscode/launch.json
  Makefile
  back/README.md
  back/app/core/db.py
  development.md
  docker-compose-base.yml
  docker-compose-local.yml
  docker-compose-playwright.yml
  docker-compose-prod.yml
  docker-compose.override.yml
  front/Dockerfile
  front/README.md
  front/nginx-backend-not-found.conf
  front/nginx.conf
  front/src/main.tsx
  front/tests/utils/privateApi.ts
  front/vite.config.ts
  services/nginx/Dockerfile
  services/nginx/docker-entrypoint.sh
  services/nginx/nginx.conf.template
Due: local-biome-check, local-ruff-check, local-ruff-format

Try to fix CI tests
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  Makefile
  front/README.md
Due: local-biome-check

Try to fix playwright CI tests
  .github/workflows/playwright.yml
Due: none

Try to fix playwright CI tests
  .github/workflows/playwright.yml
  Makefile
  docker-compose-mailcatcher.yml
Due: none

Change approach to crud
  back/app/api/deps.py
  back/app/apps/items/crud.py
  back/app/apps/items/router.py
  back/app/apps/items/tests/utils.py
  back/app/apps/login/router.py
  back/app/apps/login/tests/test_routes.py
  back/app/apps/users/crud.py
  back/app/apps/users/graphql/mutation.py
  back/app/apps/users/router.py
  back/app/apps/users/tests/test_crud.py
  back/app/apps/users/tests/test_routes.py
  back/app/apps/users/tests/utils.py
  back/app/core/db.py
  back/conftest.py
  docker-compose-playwright.yml
  front/Dockerfile.playwright
Due: local-biome-check, local-ruff-check, local-ruff-format

Remove password change and reset
  back/app/apps/login/router.py
  back/app/apps/login/tests/test_routes.py
  back/app/apps/login/utils.py
  back/app/apps/users/models.py
  back/app/email-templates/build/reset_password.html
  back/app/email-templates/src/reset_password.mjml
  front/src/client/schemas.gen.ts
  front/src/client/sdk.gen.ts
  front/src/client/types.gen.ts
  front/src/components/UserSettings/ChangePassword.tsx
  front/src/routeTree.gen.ts
  front/src/routes/_layout/admin.tsx
  front/src/routes/_layout/index.tsx
  front/src/routes/_layout/items.tsx
  front/src/routes/_layout/settings.tsx
  front/src/routes/login.tsx
  front/src/routes/recover-password.tsx
  front/src/routes/reset-password.tsx
  front/src/routes/signup.tsx
  front/tests/reset-password.spec.ts
  front/tests/user-settings.spec.ts
  front/vite.config.ts
Due: local-biome-check, local-ruff-check, local-ruff-format

Fixes
  .env.example
  back/app/core/config.py
  front/README.md
  front/playwright.config.ts
Due: local-biome-check, local-ruff-check, local-ruff-format

Fixes
  front/src/routes/login.tsx
  front/tests/login.spec.ts
Due: local-biome-check

Fixes
  front/src/routes/login.tsx
  front/src/routes/signup.tsx
Due: local-biome-check

Fixes
  Makefile
Due: none

Try to fix e2e
  .github/workflows/playwright.yml
  Makefile
Due: none

Try to fix e2e 2
  .github/workflows/playwright.yml
Due: none

Remove playwright action, failing e2e tests
  .github/workflows/playwright.yml
  front/tests/sign-up.spec.ts
  front/tests/user-settings.spec.ts
Due: local-biome-check

Clean up Makefile
  Makefile
Due: none

Path conditions:
  local-biome-check: any of: ^front/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
